{% extends 'base.html' %}

{% block content%}
    <h1>Book Details</h1>
    <!-- class: list-group-item -> Make divisions between list items automatically -->
    <hr>
    <p>
        <!-- class: text-info -> Highlight text information with a default light blue color -->
        <span class="text-info">Title: </span><span>{{ book.title}}</span>
        <br>
        <span class="text-info">Publisher: </span><span>{{ book.publisher}}</span>
        <br>
        <span class="text-info">Publication Date: </span><span>{{ book.publication_date}}</span>
        <br>
        <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ average_rating }}</span>
        <br>
        <span class="text-info">Number of reviews: </span><span>{{ number_of_reviews }}</span>
        <br>
        {% if average_rating is null %}
            <!-- class: text-secondary -> Give to text a light grey color -->
            <span class="text-secondary">Provide a rating and write the first review for this book.</span>
            <br>
        {% endif %}
    </p>
    <hr>
    <h1>Reviews Comments</h1>
    <ul class="list-group">
        {% for review in reviews %}
            <!-- class: list-group-item -> Make divisions between list items automatically -->
            <li class="list-group-item">
                <!-- class: text-info -> Highlight text information with a default light blue color -->
                <span class="text-info">Review comment: </span><span>{{ review.content}}</span>
                <br>
                <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
                <br>
                <span class="text-info">Modified on: </span><span>{{ review.date_edited }}</span>
                <br>
                <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ review.rating }}</span>
                <br>
                <span class="text-info">Creator: </span><span>{{ review.creator.email }}</span>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
