{% extends 'base.html' %}

{% block title%}
    <title>{{ title }}</title>
{% endblock %}

{% block content%}
    <h2>Search for Books</h2>
    <br>
    <form method="POST" action="{% url 'book_search'%}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-outline-success active" type="submit">Search</button>
    </form>
    <br>

    <h3> 
        {% if form.search.value != "" %}
            Search Results for <em>{{ form.search.value }}</em>
        {% endif %}
    </h3>

    <ul class="list-group">
        {% if books|length > 0 %}
            {% for book in books %}
                <li class="list-group-item">
                    <span class="text-info">Title: </span><span>{{ book.title }}</span>
                    <br>
                    <span class="text-info">Contributors: </span><span>{{ book.contributors_names }}</span>
                    <br>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <br>
{% endblock %}
