{% extends 'base.html' %}

{% block content%}
    <ul class="list-group">
        {% for item in book_list %}
            <!-- class: list-group-item -> Make divisions between list items automatically -->
            <li class="list-group-item">
                <!-- class: text-info -> Highlight text information with a default light blue color -->
                <span class="text-info">Title: </span><span>{{ item.book.title}}</span>
                <br>
                <span class="text-info">Publisher: </span><span>{{ item.book.publisher}}</span>
                <br>
                <span class="text-info">Publication Date: </span><span>{{ item.book.publication_date}}</span>
                <br>
                <!-- class: badge badge-primary badge-pill -->
                <!-- badge -> define you will have a badge around the text -->
                <!-- badge-primary -> color definition, primary points to blue -->
                <!-- badge-pill -> change the format of badge to pill (like a medicine pill =D) -->
                <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ item.book_rating}}</span>
                <br>
                <span class="text-info">Number of reviews: </span><span>{{ item.number_of_reviews}}</span>
                <br>
                {% if item.book_rating is null %}
                    <!-- class: text-secondary -> Give to text a light grey color -->
                    <span class="text-secondary">Provide a rating and write the first review for this book.</span>
                    <br>
                {% endif %}
                <!-- class: btn btn-primary btn-sm active -->
                <!-- btn -> define that a button will be used -->
                <!-- btn-primary -> color definition, primary points to blue -->
                <!-- btn-sm -> define the size sm = small -->
                <!-- active -> keep the dark appearence when button is pressed -->
                <!-- when use buttons with <a> tags, include role="button" to appropriately convey their purpose to assistive technologies such as screen readers.-->
                <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="{% url 'book_details' item.book.id %}">Reviews</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
