{% extends 'reviews/base.html' %}

{% block content%}
    <br>
    <h3>Book Details</h3>
    <!-- class: list-group-item -> Make divisions between list items automatically -->
    <hr>
    {% if book.cover %}
        <img src="{{ book.cover.url }}">
        <br>
    {% endif %}
    <!-- class: text-info -> Highlight text information with a default light blue color -->
    <span class="text-info">Title: </span><span>{{ book.title}}</span>
    <br>
    <span class="text-info">Publisher: </span><span>{{ book.publisher}}</span>
    <br>
    <span class="text-info">Publication Date: </span><span>{{ book.publication_date}}</span>
    <br>
    {% if book.sample %}
        <span class="text-info">Sample: </span><a href="{{ book.sample.url }}">Download</a>
        <br>
    {% endif %}
    {% if not reviews %}
        <hr>
        {% if user.is_authenticated %}
            <h3>Be the first one to write a review.</h3>
        {% endif %}
    {% else %}
        <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ average_rating }}</span>
        <br>
        <span class="text-info">Number of reviews: </span><span>{{ number_of_reviews }}</span>
        <br>
        <hr>
        <h3>Reviews Comments</h3>
        
        <ul class="list-group">
            {% for review in reviews %}
                <!-- class: list-group-item -> Make divisions between list items automatically -->
                <li class="list-group-item">
                    <!-- class: text-info -> Highlight text information with a default light blue color -->
                    <span class="text-info">Review comment: </span><span>{{ review.content}}</span>
                    <br>
                    <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
                    <br>
                    <span class="text-info">Modified on: </span><span>{{ review.date_edited }}</span>
                    <br>
                    <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ review.rating }}</span>
                    <br>
                    <span class="text-info">Creator: </span><span>{{ review.creator.username }}</span>
                    <br>
                    {% if request.user.id == review.creator.id %}
                        <a href="{% url 'review_edit' book.id review.id%}">Edit Review</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if user.is_authenticated %}
            <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="{% url 'review_create' book.id %}">Add Review</a>
            <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="{% url 'book_media' book.id %}">Media</a>
    {% endif %}
    
{% endblock %}
