{% extends 'base.html' %}

{% block title %}Bookr{% endblock %}

{% block content %}
    <style>
        .flexrow {
        display: flex;
        border: 2px black;
        }

        .flexrow > div {
            flex: 1;
        }

        .infocell {
            border: 2px solid green;
            border-radius: 5px 25px;
            background-color: white;
            padding: 5px;
            margin: 20px 5px 5px 5px;
        }
    </style>

    <div class="flexrow">
        <div class="infocell">
            <h2>Profile</h2>
            <p>                
                Username: {{ request.user.username }} <br>
                Name: {{ request.user.first_name }} <br>
                Date Joined: {{ request.user.date_joined }} <br>
                Email: {{ request.user.email }} <br>
                Last Login: {{ request.user.last_login }} <br>
            </p>
        </div>
        <div class="infocell">
            <h2>Viewed Books</h2>
            <p>
                {% for book_id, book_title in request.session.viewed_books %}
                <a href="{% url 'book_details' book_id %}">{{ book_title }}</a><br>
                {% empty %}
                    No recently viewed books found.
                {% endfor %}
            </p>
        </div>
        <div class="infocell">
            <h2>Search History</h2>
            <p>
                {% for search_text, search_in in request.session.search_history %}
                <a href="/book_search?search={{ search_text }}&search_in={{ search_in }}">{{ search_text }} ({{ search_in }})</a><br>
                {% empty %}
                    No recently viewed books found.
                {% endfor %}
            </p>
        </div>
        <div class="infocell">
            <h2>Read Books</h2>
            <p>
                {% load profile_tags %}
                {% books_list request.user.username %}
            </p>
        </div>
    </div>
{% endblock %}